@using MollaLibraryAPI.PessoaFisica;
@using Aplicacao.Models.COMMON;
@using Aplicacao.Models.ENTITY;

@{
    Layout = null;

    var usuario = values.PRP_UsuarioAutenticadoSite;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Campanha Play To Win</title>
    <meta name="keywords" content="Campanha Play To Win" />
    <meta name="description" content="Campanha Play To Win">
    <meta name="author" content="agenciamolla.com.br">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <!-- Web Fonts  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9NEFWXQYFC"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="~/Content/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/Content/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" href="~/Content/vendor/icofont/icofont.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/css/theme.css">
    <link rel="stylesheet" href="~/Content/css/theme-elements.css">
    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/navigation.css">
    <link rel="stylesheet" href="~/Content/css/demo-gym.css">
    <link rel="stylesheet" href="~/Content/css/skin-gym.css">
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <!-- Head Libs -->
    <script src="~/Content/vendor/modernizr/modernizr.min.js"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body>
    <input type="hidden" id="documento-usuario" value="@usuario.PRP_CPF" />
    <input type="hidden" id="id-usuario" value="@usuario.PRP_IdUsuario" />
    <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 108, 'stickySetTop': '0px', 'stickyChangeLogo': false}">
        <div class="header-body bg-dark border-bottom">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="~/Conteudo/Home">
                                    <img width="300" src="~/Content/img/logo-sanofi-play.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row pt-3">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                        <a class="nav-link text-white pl-0 btn-contato" href="#" data-toggle="modal" data-target="#modal-contato"><i class="fas fa-angle-right"></i> Contato</a>
                                    </li>
                                    <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                        <a class="nav-link text-white" href="#" target="_blank"><i class="fas fa-angle-right"></i> Regulamento</a>
                                    </li>
                                    <li class="nav-item dropdown nav-item-left-border d-none d-sm-block nav-item-left-border-remove nav-item-left-border-md-show">
                                        <a class="nav-link text-white" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="" class="flag flag-us" alt=""> @usuario.PRP_NomeUsuario.Split(' ')[0]
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal_detalhesPerfil">Perfil</a>
                                            <a class="dropdown-item" href="~/Login/Autenticacao">Sair</a>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-row">
                            <div class="header-nav pt-1">
                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse bg-dark">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="bg-danger rounded mr-0 mx-md-1 mb-2 mb-lg-0">
                                                <a class="text-white" href="~/Conteudo/Home">Home</a>
                                            </li>
                                            <li class="bg-danger rounded mx-0 mx-md-1 mb-2 mb-lg-0">
                                                <a class="text-white" href="~/Conteudo/Campanha">Campanha</a>
                                            </li>
                                            <li class="bg-danger rounded mx-0 mx-md-1 mb-2 mb-lg-0">
                                                <a class="text-white" href="~/Desempenho/Desempenho">Desempenho</a>
                                            </li>
                                            @*CONTEÚDO DESABLILITADO TEMPORARIAMENTE*@
                                            <!--<li class="bg-danger rounded mx-0 mx-md-1 mb-2 mb-lg-0">
                                                <a class="text-white emBreve" href="#">Resgate de Prêmios</a>--> <!-- ~/Conteudo/ResgatePremios -->
                                            <!--</li>-->
                                            <li class="bg-danger rounded mx-0 mx-md-1 mb-2 mb-lg-0">
                                                <a class="text-white" href="~/Conteudo/Novidades">Fique por dentro</a>
                                            </li>
                                            <li class="bg-info rounded ml-0 ml-md-1">
                                                <a class="text-white" href="~/Content/pdf/RANKING_2020_FINAL.pdf" target="_blank">Campanha 2020</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                                @*<div id="img-prefil">
                                        <img src="~/Content/img/persona.jpg" width="60" class="rounded-circle">
                                    </div>*@

                                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    @*<footer id="footer" class="bg-color-quaternary py-4">
        <div class="container">
            <img src="~/Content/img/logo-sanofi-footer.png" width="200" class="d-block mx-auto">
        </div>
    </footer>*@

    <!-- modal Contato -->
    <div class="modal fade" id="modal-contato" tabindex="-1" role="dialog" aria-labelledby="ContatoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mt-0" id="ContatoModalLabel">Fale com a gente!</h4>
                    <button type="button" name="btn-fecha-contato" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Olá, @usuario.PRP_NomeUsuario.<br />
                                Estamos aqui para te apoiar. <br />
                                Por isso, deixe sua mensagem pra gente. Em até 48h retornaremos pra você.<br />
                                Importante: cadastre o e-mail <strong>contato@campanhaplaytowin.com.br</strong> para ele não caio no spam
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md">
                            <div class="form-group mb-0">
                                <label class="mb-0 text-4">Mensagem</label>
                                <div class="input-group">
                                    <textarea name="" id="contato_mensagem" rows="3" style="resize: none;" class="form-control form-control-lg" valid="" valida-mensagem required></textarea>
                                </div>
                                <div class="alertError" alert-mensagem></div>
                            </div>
                        </div>
                    </div>

                    <div id="alert_contato" class="text-center d-none"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" name="btn-fecha-contato" class="btn btn-danger text-white" data-dismiss="modal">Fechar</button>
                    <button type="button" name="btn_contato" class="btn btn-dark text-white">Enviar <i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Detalhes Perfil -->
    <div class="modal fade" id="modal_detalhesPerfil" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-blue" id="modalPerfil">Detalhes do meu Perfil</h4>
                    <button id="btn-fechar-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md">
                            <div class="form-group">
                                <label class="mb-0">CPF</label>
                                <div class="input-group">
                                    <input name="" id="perfil-cpf" value="@usuario.PRP_CPF" type="text" valid="true" class="form-control form-control-lg" mask-cpf required disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-0">Nome</label>
                                <div class="input-group">
                                    <input name="" id="perfil-nome" value="@usuario.PRP_NomeUsuario" type="text" valid="true" class="form-control form-control-lg" valida-nome required disabled>
                                </div>
                                <div class="alertError" alert-nome></div>
                            </div>
                            <div class="form-group">
                                <label class="mb-0">Celular</label>
                                <div class="input-group">
                                    <input name="" id="perfil-celular" value="@usuario.PRP_Celular" type="text" valid="true" class="form-control form-control-lg" mask-celular valida-celular maxlength="15" required disabled>
                                </div>
                                <div class="alertError" alert-celular></div>
                            </div>

                            <div class="form-group">
                                <label class="mb-0">Email</label>
                                <div class="input-group">
                                    <input name="" id="perfil-email" value="@usuario.PRP_Email" type="text" valid="true" class="form-control form-control-lg" valida-email required disabled>
                                </div>
                                <div class="alertError" alert-email></div>
                            </div>
                            <div class="form-group">
                                <label class="mb-0">Unidade de Negócio</label>
                                <div class="input-group">
                                    <input name="" id="perfil-Bu" value="@usuario.PRP_NomeBU" type="text" valid="true" class="form-control form-control-lg" required disabled>
                                </div>
                                <div class="alertError" alert-celular></div>
                            </div>
                            <div class="form-group">
                                <label class="mb-0">Código Netflix</label>
                                <div class="input-group">
                                    <input name="" value="@usuario.PRP_CodNetFlix" type="text" valid="true" class="form-control form-control-lg" required disabled>
                                </div>
                                <div class="alertError" alert-celular></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label class="mb-0">Senha</label>
                                    <div class="input-group">
                                        <input name="" id="perfil-senha" type="password" value="" valid="true" class="form-control form-control-lg" valida-senha valida-forca-senha required disabled>
                                    </div>
                                    <div class="alertError" alert-senha alert-forca-senha></div>
                                </div>
                                <div id="perfil-div-conf-senha" class="form-group col d-none">
                                    <label class="mb-0">Confirmar senha</label>
                                    <div class="input-group">
                                        <input name="" id="perfil-conf-senha" type="password" value="" valid="true" class="form-control form-control-lg" valida-confsenha required disabled>
                                    </div>
                                    <div class="alertError" alert-conf-senha></div>
                                </div>
                            </div>
                            <div id="alert-perfil" class="text-center mt-3"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="div-editar">
                        <button type="button" id="btn-editar" class="btn btn-dark text-white">Editar</button>
                        <button type="button" id="btn-fechar" class="btn btn-danger text-white" data-dismiss="modal">Fechar</button>
                    </div>
                    <div id="div-salvar" class="d-none">
                        <button type="button" id="btn-salvar" class="btn btn-success text-white">Salvar</button>
                        <button type="button" id="btn-cancelar" class="btn btn-danger text-white">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/Content/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="~/Content/vendor/popper/umd/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/common/common.min.js"></script>
    <script src="~/Content/vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="~/Content/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/Content/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/Content/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/Content/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/Content/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/vendor/vide/jquery.vide.min.js"></script>
    <script src="~/Content/vendor/vivus/vivus.min.js"></script>
    <script src="~/Content/vendor/instafeed/instafeed.min.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/js/theme.js"></script>
    <!-- Current Page Vendor and Views -->
    <script src="~/Content/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Current Page Vendor and Views -->
    <script src="~/Content/js/views/view.contact.js"></script>
    <!-- Demo -->
    <script src="~/Content/js/demo-gym.js"></script>
    <!-- Theme Custom -->
    <script src="~/Content/js/mascaraValidacao.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <!-- Theme Initialization Files -->
    <script src="~/Content/js/theme.init.js"></script>

    <script>
        $(".emBreve").bind('click',
            function () {
                Swal.fire('Em breve!');
            }
        );

        // parar video quando a modal sumir
        $("#modal-video-1").on('hidden.bs.modal', function (e) {
            $("#modal-video-1 iframe").attr("src", $("#modal-video-1 iframe").attr("src"));
        });
    </script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-9NEFWXQYFC');
    </script>
</body>
</html>
