@using MollaLibrary.COMMON

@{
    ViewBag.Title = "EsqueciSenha";
    Layout = "~/Views/Shared/LoginShared.cshtml";
    MollaLibrary.COMMON.RetornoRequisicao requisicao = null;
    string st_classe = "";

    if (TempData["PPR_Requisicao"] != null)
    {
        requisicao = (MollaLibrary.COMMON.RetornoRequisicao)TempData["PPR_Requisicao"];
        st_classe = (!string.IsNullOrWhiteSpace(requisicao.PRP_Mensagem) && requisicao.PRP_Status) ? "hidden" : "";
    }

}

@using (Html.BeginForm("AlterarSenha", "Login", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAlteraSenha" }))
{

    <div class="body">
        <div class="body-sign">
            <div class="center-sign">
                <div class="panel card-sign shadow-lg">
                    <div class="card-title-sign mt-3 text-right">
                        <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-key mr-1"></i> Alterar Senha</h2>
                    </div>
                    <div class="card-body ">
                        <form action="" method="post">
                            <div class="form-group mb-3 @st_classe" id="pNovaSenha">
                                <label>Nova Senha:</label>
                                <div class="input-group">
                                    <input name="pNovaSenha" id="pnovaSenhaReset" data-obrigatorio="true" data-senha="true" valid="false" type="password" valida-senha valida-forca-senha class="form-control form-control-lg" />
                                    <span class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </span>
                                </div>
                                <div class="alertError" alert-senha alert-forca-senha></div>
                            </div>
                            <div class="form-group mb-3 @st_classe" id="ConfSenha">
                                <label>Confirmar Nova Senha:</label>
                                <div class="input-group">
                                    <input name="ConfSenha" id="confSenhaReset" data-obrigatorio="true" data-senhaConfirma="true" valid="false" type="password" valida-confSenha class="form-control form-control-lg" />
                                    <span class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </span>
                                </div>
                                <div class="alertError" alert-conf-senha></div>
                            </div>
                            <div class="row @st_classe">
                                <div class="col-md-12 center mb-3" id="btnEnviarSenha">
                                    <!-- <input id="ConfSenhaBtn" class="btn btn-primary pull-right" type="submit" value="Confirmar"> -->
                                    <div id="btn_EsqueceuSenhaReset" disabled="disabled" class="btn btn-dark text-white center">Alterar Senha</div>
                                </div>
                            </div>
                            <div id="alert-altera-senha" class="text-center mt-3"></div>

                            @if (!string.IsNullOrWhiteSpace(requisicao.PRP_Mensagem))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning alert-dismissible text-center" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Atenção! </strong> @requisicao.PRP_Mensagem
                                        </div>
                                    </div>
                                </div>
                                @*if (requisicao.PRP_Status)
                                    {
                                        @Html.ActionLink("Faça seu login", "Autenticacao", new { controller = "Login" }, new { @class = "btn btn-default" })
                                    }*@
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/vendor/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/js/cadastro.js"></script>
    <script>
        $(document).ready(function () {

            function validaConfirmaSenha() {
                var pNovaSenha = $('input[name="pNovaSenha" ]').prop('valid') ? $('input[name="pNovaSenha" ]').prop('valid') : false;
                var confSenha = $('input[name="ConfSenha" ]').prop('valid') ? $('input[name="ConfSenha" ]').prop('valid') : false;

                return (pNovaSenha && confSenha);
            }

            validaConfirmaSenha();

            $('input[name = "ConfSenha"]').keyup(function () {

                if (validaConfirmaSenha()) {
                    $("#btn-altera-senha").prop('disabled', false);
                } else {
                    $("#btn-altera-senha").prop('disabled', true);
                }

            });

            $('input[name="pNovaSenha" ]').keyup(function () {

                if (validaConfirmaSenha()) {
                    $("#btn-altera-senha").prop('disabled', false);
                } else {
                    $("#btn-altera-senha").prop('disabled', true);
                }

            });

        });

    </script>

}